<html>
<head>
    <meta charset="utf-8">
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Movie Ticket Shop App</h1>
</header>
<main>
    <form method="get" action="/filter">
        <label for="movieTitle">Search by title:</label>
        <input type="text" name="movieTitle" id="movieTitle"/>
        <br>
        <label for="rating">Search by rating:</label>
        <input type="number" name="rating" id="rating"/>
        <br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <br>

    <h1>Filter your orders by date:</h1>
    <form method="get" action="/filterOrder">
        <input type="date" name="from"/>
        <br/>
        <input type="date" name="to"/>
        <br/>
        <input type="submit" name="Submit"/>
    </form>

    <br>
    <br>

    <form method="get" action="/movies/add">
        <input type="submit" value="Add movie"/>
    </form>

    <br>
    <br>
    <h2>Choose movie:</h2>
    <!-- Display radio buttons for each movie,
            the value should be the movie title
            and the displayed text should be Title: <movie_title>, Summary:<movie_summary>, Rating: <movie_rating> -->

    <!-- Movie selection form -->
    <form method="post" th:action="${'/order'}">

        <div th:each="movie : ${movies}">
            <input type="radio" name="movieTitle" th:value="${movie.title}" th:text="|Title: ${movie.title}, Summary: ${movie.summary}, Rating: ${movie.rating}, Production: ${movie.production?.name}|"/>
            <input type="number" name="numTickets" min="1" max="10">
            <br/>

<!--            <form method="get" th:action="@{'/movies/edit/{id}' (id=${movie.id})}">-->
<!--                <input type="submit" value="Edit"/>-->
<!--            </form>-->

            <button><a th:href="@{'/movies/edit/' + ${movie.id}}" style="text-decoration: none">Edit</a></button>
            <button><a th:href="@{'/movies/delete/' + ${movie.id}}" style="text-decoration: none">Delete</a></button>


<!--            <form method="post" th:action="@{'/movies/delete/{id}' (id=${movie.id})}">-->
<!--                <input type="submit" value="Delete"/>-->
<!--            </form>-->
        </div>

<!--        <h2>Choose number of tickets:</h2>-->
<!--        <input type="number" name="numTickets" min="1" max="10"><br/>-->
<!--        <br/>-->
        <h2>Choose date and time:</h2>
        <input type="datetime-local" name="dateAndTime"/>
        <br/>
        <input type="submit" value="Submit">
    </form>

    <script>
            var radioButtons = document.getElementsByName("movieTitle");

            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].type = "checkbox";
            }
    </script>

</main>
</body>
</html>